@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,300;1,400;1,500&display=swap');

:root{
  --pink:#FF046F;
  --violet:#C63BFA;
}

*{
    font-family: 'Roboto', sans-serif;
    text-transform: capitalize;
    text-decoration: none;
    outline: none;
    margin: 0; padding: 0;
    box-sizing: border-box;
  }

*::selection{
  background:var(--pink);
  color:#fff;
}

html{
  font-size: 62.5%;
  overflow-x: hidden;
}

body{
    background: #C63BFA;
}

header{
    width:96%;
    background:#fff;
    position: fixed;
    top:2rem; left:50%;
    transform: translateX(-50%);
    border-radius: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:1rem 2rem;
    z-index: 1000;
    transition: .2s;
    
  }
  
  .header-active{
    top:0;
    width: 100%;
    border-radius: 0;
    box-shadow: 0 .1rem .3rem rgba(0,0,0,.3);
  }
  
  header .navbar ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
  }
  
  header .navbar ul li{
    margin:0 1rem;
  }
  
  header .navbar ul li a{
    font-size: 2rem;
    color:var(--pink);
    transition: .2s;
  }
  
  header .navbar ul li .active,
  header .navbar ul li a:hover{
    color:var(--violet);
  }
  
  header .logo{
    font-size: 2.5rem;
    color: var(--violet);
    text-transform: uppercase;
  }
  
  header .logo i{
    color:var(--pink);
    padding:0 .2rem;
  }
  
  header .fa-bars{
    font-size: 3rem;
    color:var(--pink);
    cursor: pointer;
    display: none;
    transition: .2s;
  }
  header .fa-times{
    transform: rotate(180deg);
    color:var(--violet);
  }

  .home{
    min-height: 100vh;
    background:linear-gradient(rgba(198, 59, 250,.8),rgba(198, 59, 250,.8)), url(../images/bg.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    z-index: 0;
    overflow:hidden;
    position: relative;
  }
  
  .content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    padding-top: 14rem;
    padding-bottom: 8rem;
    text-align: center;
  }
  
  .content h1{
    font-size: 5rem;
    color: #fff;
    padding:0 1rem;
    text-shadow: 0 .3rem .5rem rgba(0,0,0,.3);
    text-transform: uppercase;
  }
  
 .content p{
    font-size: 2rem;
    color:#eee;
    padding:1rem 25rem;
  }
  
  
  
  
  .footer{
    text-align: center;
  }
  
  
  
  
  /* media queries  */
  
  @media (max-width:768px){
  
    html{
      font-size: 55%;
    }
  
    header .fa-bars{
      display: block;
    }
  
    header .navbar{
      position: fixed;
      top:-100rem; left:0;
      width:100%;
      background:#fff;
      border-radius: 1rem;
      opacity: 0;
      transition: .2s linear;
    }
  
    header .navbar ul{
      flex-flow: column;
      padding:2rem 0;
    }
  
    header .navbar ul li{
      margin:1rem 0;
      width:100%;
      text-align: center;
    }
  
    header .navbar ul li a{
      font-size: 3rem;
      display: block;
    }
  
    header .nav-toggle{
      top:5.5rem;
      opacity: 1;
    }
}





.w3-grid-template {
    display: grid;
    background: #eee;
    grid-template-columns: repeat(5, 1fr);
    
}




@media screen and (max-width: 1000px) {
    .w3-grid-template {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
    .resimg {
        width: 70%;
    }
}

@media screen and (max-width: 800px) {
    .w3-grid-template {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    .resimg {
        width: 70%;
    }
}

@media screen and (max-width: 600px) {
    .w3-grid-template {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .resimg {
        width: 100%;
    }
}

@media screen and (max-width: 400px) {
    .w3-grid-template {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .resimg {
        width: 100%;
    }
}





.display-style-btns{
    margin: 10px 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: #fff;
    padding: 16px 0;
    border-radius: 5px;
}
.display-style-btns button{
    border: none;
    font-size: 22px;
    display: inline-block;
    vertical-align: top;
    margin: 0 8px;
    background-color: transparent;
    cursor: pointer;
    transition: all 0.3s ease-out;
}
.display-style-btns button:hover{
    color: #f79410;
}
.active-btn{
    color: #f79410;
}




.item-list{
    margin: 36px 0;
    display: grid;
    grid-template-columns: repeat(1, fr);
    row-gap: 32px;
}
.item{
  background-color: #fff;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 0 4px 0 rgba(15, 4, 4, 0.05);
  transition: all 0.2s ease-out;
}
.item:hover{
    box-shadow: 0 0 10px 1px rgba(0, 4, 4, 0.15);
}
.item-img{
    position: relative;
    overflow: hidden;
}
.item-img img{
    width: 70%;
    margin: 16px auto;
}

.icon-list{
    position: absolute;
    bottom: -100px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-out;
}
.icon-list button{
    border: none;
    background-color: #202020;
    color: #fff;
    margin: 0 6px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    cursor: pointer;
    transition: all 0.3s ease-out;
}
.icon-list button:hover{
    background-color: #f4f4f4;
    color: #202020;
}
.item-img:hover .icon-list{
    bottom: 26px;
}


.item-detail{
    padding: 16px;
    color: #202020;
    text-align: center;
}
.item-name{
    font-weight: 500;
    font-size: 18px;
    color: #202020;
    display: block;
}
.item-price{
    margin: 10px 0;
    font-weight: 300;
    display: flex;
    align-items: center;
    justify-content: center;
}

.item-detail p{
    font-weight: 300;
    opacity: 0.9;
    font-size: 15px;
    line-height: 1.7;
    display: none;
}
.add-btn{
    margin: 16px 0;
    text-transform: uppercase;
    border: none;
    background-color: #202020;
    color: #fff;
    font-family: inherit;
    padding: 10px 28px;
    border: 1px solid #202020;
    cursor: pointer;
    transition: all 0.3s ease-out;
    display: none;
}
.add-btn:hover{
    background-color: #fff;
    color: #202020;
}


/* stylings for details active */
.details-active.item-list{
  grid-template-columns: 100%;
}
.details-active .item{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  align-items: center;
}
.details-active .item-detail{
  text-align: left;
}
.details-active .item-price{
  justify-content: flex-start;
}
.details-active .item-detail p{
  display: block;
}
.details-active .item-detail .add-btn{
  display: block;
}








